.main__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.content__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(2, max-content);
  gap: 80px 50px;
  align-items: center;
  align-content: center;
  height: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.rectangle {
  position: relative;
  border: 1px solid black;
  padding: 15px;
  min-height: 150px;
}

.rectangle__square {
  position: absolute;
}

.square {
  width: 60px;
  height: 60px;
  background-color: chartreuse;
}

.square_side-to-side-keyframes-animation {
  animation: side-to-side 2s linear infinite alternate;
}

.square_side-to-side-transition-animation {
  transition: transform 2s ease-in-out;
}

body:hover .square_side-to-side-transition-animation {
  transform: translateX(300px);
}

@keyframes side-to-side {
  0% {
    left: 15px;
  }

  100% {
    left: calc(100% - 75px);
  }
}

@media (max-width: 768px) {
  .grid {
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .grid-item__title {
    font-size: 1.4rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
